.bikeGridView {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 550px) {
    .bikeGridView {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr;
    }
}

.bikeCard {
    flex: 1;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.1s;
}

.bikeCard .photoGrid, .bikeCard span {
    margin-bottom: 1rem;
}

.bikeCard h3 {
    font-family: 'Red Rose', cursive;
    color: rgba(0,0,0,0.82);
    font-size: 1.7rem;
    margin: 0.5rem 0 0 0;
    text-align: center;
}

.bikeCard span {
    font-family: 'Roboto', sans-serif;
    color: rgba(0,0,0,0.65);
    margin-top: 0.2rem;
    text-align: center;
}

.bikeCard:hover {
    background-color: #F7F7F7;
}

.bikeCard .photoGrid .photo:not(.emptyPhoto):nth-child(4) {
    position: relative;
}
.bikeCard .photoGrid .photo:not(.emptyPhoto):nth-child(4)::before {
    z-index: 3;
    counter-reset: photo-count var(--photo-count);
    content: counter(photo-count) '+';
    position: absolute; 

    color: white;
    left: 50%;  
    top: 50%; 
    transform: translate(-50%, -50%);

    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
.bikeCard .photoGrid .photo:not(.emptyPhoto):nth-child(4)::after {
    z-index: 2;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.7);
}

@media (prefers-color-scheme: dark) {
    .bikeCard h3, .bikeCard span {
        color: rgba(255, 255, 255, 0.82);
    }

    .bikeCard {
        background-color: #313131;
    }

    .bikeCard:hover {
        background-color: #363636;
    }
}
