.photoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    width: 100%;
}

.bikePhotos .photoGrid {
    grid-template-columns: 1fr 1fr 1fr;
}

.photo {
    position: relative;
    background-color: #ccc;
    border-radius: 8px;
    cursor: pointer;
}
.photo:not(.disabledLightbox)::before {
    content: '';
    background-color: rgba(255,255,255,0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    z-index: 5;
    transition: opacity 0.15s;
    opacity: 0;
}
.photo:not(.disabledLightbox):hover::before {
    opacity: 1;
}

.photo img {
    width: 100%;   
    object-fit: cover;
    /*aspect-ratio: 1 / 1;*/
    border-radius: 8px;
    height: 100%;
    position: absolute;
}

.photo::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

@media only screen and (max-width: 650px) {
    .photoGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .bikePhotos .photoGrid {
        grid-template-columns: 1fr 1fr;
    }
}

.videoCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    border-radius: 8px;
    font-size: 4rem;
    color: transparent;
    cursor: pointer;
    transition: color 0.1s, background-color 0.1s;
}

.videoCover:hover {
    color: white;
    background-color: rgba(0,0,0,0.3);
}