content-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    max-width: 950px;
    margin: 40px;
    flex: 1 1;
}