.photoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    width: 100%;
}

.bikePhotos .photoGrid {
    grid-template-columns: 1fr 1fr 1fr;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .3s ease;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.photoContainer {
    position: relative;
    width: 50%;
    max-width: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}


.photo {
    position: relative;
    background-color: #ccc;
    border-radius: 8px;
}
.photo img {
    width: 100%;   
    object-fit: cover;
    /*aspect-ratio: 1 / 1;*/
    border-radius: 8px;
    height: 100%;
    position: absolute;
}

.photo-icons {
    z-index: 1;
    position: absolute;
    height: 20%;
    width: 100%;
    color: white;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.photo-action {
    cursor: pointer;
}

.photo-icons > div {
    height: 100%;
}

.photo::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

@media only screen and (max-width: 650px) {
    .photoGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .bikePhotos .photoGrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (prefers-color-scheme: dark) {
    .photo {
        background-color: #2a2a2a;
    }
}