@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

.center {
    padding: 0 1rem;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.center h2:nth-last-child(1) {
    margin-bottom: 0;
}

.widerCenter {
    padding: 0 1rem;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 3rem;
}

h2 {
    font-family: 'Red Rose', cursive;
    color: #000;
    font-size: 2rem;
    margin-top: 0;
}

p, ul {
    color: rgba(0,0,0,0.82);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 1.2rem;
}

ul {
    line-height: 1.7;
}

.imageParagraph {
    display: flex;
}

.imageContainer {
    display: flex;
    align-items: center;
}

.imageContainer img {
    max-width: 200px;
}

@media only screen and (max-width: 550px) {
    .imageParagraph {
        flex-direction: column;
    }
    .imageContainer {
        justify-content: space-around;
    }
    .widerCenter {
        padding-bottom: 2rem;
    }
}

button:not(.ReactModalPortal button) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    padding: 2rem;
    font-family: 'Red Rose', cursive;
    color: rgba(0,0,0,0.82);
    cursor: pointer;
    margin-bottom: 2rem;
    transition: background-color 0.1s;
}

button:not(.ReactModalPortal button) span {
    text-decoration: none;
}


button:not(.ReactModalPortal button):hover {
    background-color: #F7F7F7;
}

.buttonIcon {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

a { text-decoration: none;}

p a, ul a {
    color: rgba(0,0,0,0.82);
    position: relative;
}

p a::before, ul:not(nav ul) a::before {
    content: '';
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    background-color: rgba(0,0,0,0.04);
    z-index: 0;
    border-radius: 9px;
    transition: background-color 0.1s;
}

p a:hover::before, ul:not(nav ul) a:hover::before {
    background-color: rgba(0,0,0,0.15);
}