.infoBox h3 {
    font-family: 'Red Rose', cursive;
    color: #000;
    font-size: 1.3rem;
    margin-top: 0;
}

.infoBox p {
    margin: 0;
}

.infoBox {
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
    .infoBox {
        background-color: #313131;
    }

    .infoBox h3 {
        color: #ffffff;
    }
}
