root-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

root-container > * {
    width: 95%;
    flex: 0 0;
}