body {
  margin: 0;
  font-family: 'Poppins', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d4d6da;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #171717;
    color: white;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
