.bikeHeader {
    display: flex;
    justify-content: space-between;
}

.bikeDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bikeDetails h2 {
    margin: 0;
}

.bikeDetails span {
    color: rgba(0,0,0,0.82);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

@media only screen and (max-width: 550px) {
    .bikeHeader {
        flex-direction: column;
        line-height: 1.5;
    }
    .bikeHeader button {
        margin-top: 2rem;
        margin-bottom: 0;
    }
}

@media (prefers-color-scheme: dark) {
    .bikeDetails span {
        color: rgba(225, 225, 225, 0.82);
    }
}

.iconButton {
    margin-bottom: 0;
    margin-right: 4px;
}

.locationItem {
    display: flex;
    flex-direction: row;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.locationItem > *:not(.iconButton) {
    font-size: small;
    margin: 2px;
    flex: 1 1;
}

.locationItem > .iconButton {
    width: min-content;
    background-color: #e1e1e1;
    padding: 0.5rem;
}